.switch {
  position: relative;
  display: flex;
  /*width: 300px;*/
  /*height: 50px;*/
  /*padding-top: 14px;*/
  color: var(--system-color);
  background-color: rgb(1 65 255 / 30%);
}

.switch .input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 14px;
  cursor: pointer;
  transition: 0.4s;
  background-color: #fff;
  color: var(--primary-color);
  /*width: 129px;*/
  top: 4px;
  /*left: 5px;*/
  height: 42px;
  transition: 0.4s;
  text-align: center;
}
/*.slider::before {*/
/*  position: absolute;*/
/*  padding: 9px;*/
/*  content: attr(data-value);*/
/*}*/

.input:checked + .slider::before {
  content: attr(placeholder);
  transform: translateX(160px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 34px;
}
